/* REMEMBER: watch for conflicts with existing Bootstrap stylesheet. */

/* Tags */
/* General text */
p {
    font-family: "Times New Roman";
    font-size: 20px;
}
/* Headers */
h1 {
    
}
h2 {
    
}
h3 {
    
}
h4 {
    
}
h5 {
    
}
h6 {
    
}
/* General Design */
br {
    
}
hr {
    
}

/* Classes */
.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("http://www.feedicons.com/images/feed-icon-14x14.png") no-repeat 0 50%;
} 
/* Forms */
.form-isrequired {
   color: red;
   font-weight: bold;
}

/* Compounds */
/* //For readability, compounds are not used. */
