/* REMEMBER: watch for conflicts with existing Bootstrap stylesheet. */

/* Tags */
/* General text */

/* Headers */


/* Classes */
.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("http://www.feedicons.com/images/feed-icon-14x14.png") no-repeat 0 50%;
} 
/* Forms */
.form-isrequired {
   color: red;
   font-weight: bold;
}

/* Compounds */
/* //For readability, compounds are not used. */
